@import "tailwindcss";

:root {
    --background: #191825;
    --foreground: rgba(226, 232, 240, 0.7);
    --green: #e384ff;
    --spotlight: rgb(from var(--green) r g b / 0.1);
    --selected: rgb(from var(--green) r g b / 0.7);
    --white: #eeeeee;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-green: var(--green);

    --font-family-title: var(--font-gabarito), sans-serif;
    --font-family-body: var(--font-plus-jakarta-sans), sans-serif;
    --font-family-mono: var(--font-space-mono), monospace;
    --font-family-sans: var(--font-plus-jakarta-sans), sans-serif;
}

@layer utilities {
    /* Chrome, Edge, and Safari */
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--foreground);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--green);
    }

    /* Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--foreground) transparent;
    }

    *:hover {
        scrollbar-color: var(--green) transparent;
    }
}
@layer base {
    body {
        @apply bg-background text-foreground leading-[2em];
        font-family: var(--font-plus-jakarta-sans), sans-serif;
    }

    /* Custom text selection colors */
    ::selection {
        background-color: var(--selected);
        color: var(--background);
    }

    ::-moz-selection {
        background-color: var(--selected);
        color: var(--background);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply tracking-wide;
        font-family: var(--font-gabarito), sans-serif;
    }

    p {
        @apply leading-[1.7] text-foreground;
    }
}

@layer utilities {
    .font-title {
        font-family: var(--font-gabarito), sans-serif;
    }

    .font-body {
        font-family: var(--font-plus-jakarta-sans), sans-serif;
    }

    .font-mono {
        font-family: var(--font-space-mono), monospace;
    }

    .bg-green {
        @apply bg-green;
    }
}
