@import "tailwindcss";

:root {
    --background: #172a3a;
    --foreground: #ededed;
    --green: #0beaab;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@layer utilities {
    /* Chrome, Edge, and Safari */
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--foreground); /* Atau hex color */
        border-radius: 20px;
        border: 3px solid transparent;
        background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--green);
    }

    /* Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--green) transparent;
    }
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Poppins", sans-serif;
    line-height: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-title {
    font-family: "Darker Grotesque", sans-serif;
}

.font-secondary {
    font-family: "Space Mono", sans-serif;
    letter-spacing: 0.025em;
}

.bg-green {
    background-color: var(--green);
}

p {
    margin-bottom: 1.5rem;
    font-size: 15px;
    line-height: 1.7;
    color: rgba(226, 232, 240, 0.7);
}

.text-highlight {
    color: var(--green);
}

span.text-highlight {
    color: #ffffff;
}
