@import "tailwindcss";

:root {
    --background: #172a3a;
    --foreground: #ededed;
    --green: #0beaab;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Poppins", sans-serif;
    line-height: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-title {
    font-family: "Darker Grotesque", sans-serif;
}

.font-secondary {
    font-family: "Space Mono", sans-serif;
    letter-spacing: 0.025em;
}

.bg-green {
    background-color: var(--green);
}

p {
    margin-bottom: 0.5rem;
    font-size: 15px;
    line-height: 2;
    color: rgba(226, 232, 240, 0.5);
}

.text-highlight {
    color: var(--green);
}

span.text-highlight {
    color: #ffffff;
}
